<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Connections Online:Providing Interactive Resources for Post Release Individuals </title>
   
   <style>
    h1 {
      color: rgb(4, 107, 9);
      font-size: 55px;
    }
    h2 {
      color:rgb(242, 177, 25);
      font-style:normal;
      font-size: 30px;
    }
    h3 {
      color:rgb(246, 214, 35);
      font-size: 25px;
    }
    a {
      color:rgb(6, 108, 16);
    }
    ::backdrop{
      color:rgb(7, 103, 15);
    }
  </style>
  
   <h1>
    Welcome to Connections Online: An Interactive Resource for Returning Individuals
   </h1>

   <h2>
    Connection Online's mission is to connect Justice-Impacted and Post-Release individuals with resources that support the goals of both Personal and Community Development
   </h2>
</head>

<body>

 

  </div>
 

<img src="https://i.etsystatic.com/6403896/r/il/df5c57/1144259091/il_1588xN.1144259091_imxe.jpg">
<h2>
  Thank You for Connecting with Us!
</h2>

<h3>
   <a href="postjobs">
    Job Postings</a>
</h3>



</body>
</html>
