<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<title>Connections Online:Providing Interactive Resources for Post Release Individuals </title>
<script src="https://kit.fontawesome.com/fca6c0e9a5.js" crossorigin="anonymous"></script>
<i class="fa-solid fa-house"></i>

<style>
 h1 {
   color: rgb(4, 107, 9);
   font-size: 55px;
 }
 h2 {
   color:rgb(242, 177, 25);
   font-style:normal;
   font-size: 15px;
 }
 h3 {
   color:rgb(246, 214, 35);
   font-size: 25px;
 }
 h4 {
   color:rgb(246, 214, 35)
   
 }
 a {
   color:rgb(6, 108, 16);
 }
 ::backdrop{
   color:rgb(7, 103, 15);
 }
 .fa {
   color:black;
   font-size: 130px;

 }
 .fa:hover {
   color:blue;
   font-size: 130px;

 }

</style>
<section id="hero">
   <div class="container">
<h1>
Connections Online: An Interactive Resource for Returning Individuals
</h1>
<h2>
   <a href="postjobs">
    Employment / Post Job </a>

   </h2>
<h3>
 Our mission here is to connect Justice-Impacted and Post-Release individuals with resources that support the goals of both Personal and Community Development
</h3>
</head>



</div>

<h4>
 <i class="fa-solid fa-envelope"></i>
 Connect with us

 <i class="fa-solid fa-paper-plane"></i>
 Resources 

 <style>
   
 </style>
</h4>


</body>
</html>

