<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections Online</title>
    <style>

        h1{
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
        a{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        html{
            font-family: 'Montserrat';
        }
        .container{
            min-height: 100vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    </style>

</head>
<body>
    <img src="https://i.etsystatic.com/6403896/r/il/df5c57/1144259091/il_1588xN.1144259091_imxe.jpg">
  
    <!-- Hero Section-->
  <section id="hero">
    <div class="hero container">
        <div>
            <h1>Connections Online: An Interactive Resource for Returning Individuals</h1>
            <a href="#" type="button" class="cta">Job Postings</a>
            <a></a>
    </div>  
  </section>
  
</body>
</html>
